html{
  height:100%;

}
body{
  height:100%;
  background: rgb(2,0,36);
  background: linear-gradient(37deg, rgba(2,0,36,1) 0%, rgba(222,126,183,1) 35%, rgba(0,212,255,1) 100%);
}
.text-container{
  font-size: 60px;
  font-family: fantasy;
}
